# configuration file used by run_coverage.py
[run]
branch = True
source = hpat
concurrency = multiprocessing
parallel = True

[report]

omit =
    hpat/ml/*
    hpat/xenon_ext.py
    hpat/ros.py
    hpat/cv_ext.py
    hpat/tests/*
