# configuration file used by run_coverage.py
[run]
branch = True
source = sdc
concurrency = multiprocessing
parallel = True

[report]

omit =
    sdc/ml/*
    sdc/xenon_ext.py
    sdc/ros.py
    sdc/cv_ext.py
    sdc/tests/*
