# reference: https://github.com/numba/numba/blob/master/.travis.yml

dist: trusty

branches:
  only:
  - master

env:
    global:
        - GIT_DESCRIBE_TAG=0.29.2
        - GIT_DESCRIBE_NUMBER=1
        - PYTHON_VER=3.6
        - NUMPY_VER=1.17
        - CONDA_PREFIX_PATH=$HOME/miniconda3
    matrix:
        - BUILD_MODE=package TEST_MODE=conda SDC_CONFIG_PIPELINE_SDC=False

before_install:
    - chmod 777 buildscripts/install_conda.sh
    - buildscripts/install_conda.sh $CONDA_PREFIX_PATH

install: skip

script: skip

after_success: skip

notifications:
    email: false
