# reference: https://github.com/numba/numba/blob/master/.travis.yml

dist: trusty

matrix:
    include:
        - os: osx
          env: CONDA_ENV=travisci NUM_PES=1
        - os: osx
          env: CONDA_ENV=travisci NUM_PES=2
        - os: osx
          env: CONDA_ENV=travisci NUM_PES=3
        - env: RUN_COVERAGE=yes CONDA_ENV=travisci NUM_PES=1
        - env: CONDA_ENV=travisci NUM_PES=2
        - env: CONDA_ENV=travisci NUM_PES=3

before_install:
    - buildscripts/setup_conda.sh
    - export PATH=$HOME/miniconda3/bin:$PATH
install:
    - buildscripts/build.sh

script:
    - buildscripts/test.sh

after_success:
    - buildscripts/after_success.sh

notifications:
    email: false
