trigger:
- master

pr:
- master

jobs:
- template: buildscripts/azure/template-windows.yml
  parameters:
    name: Windows2016_vs2017
    vmImage: vs2017-win2016
    allowFailure: false
    matrix:
      py3.7_numpy1.17:
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.17'
        USE_NUMBA_MASTER: 'True'
        SDC_CONFIG_PIPELINE_SDC: 'False'

- template: buildscripts/azure/template-linux-macos.yml
  parameters:
    name: macOS1013_xcode9
    vmImage: xcode9-macos10.13
    allowFailure: false
    matrix:
      py3.7_numpy1.17:
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.17'
        USE_NUMBA_MASTER: 'True'
        SDC_CONFIG_PIPELINE_SDC: 'False'

- template: buildscripts/azure/template-linux-macos.yml
  parameters:
    name: Ubuntu1604
    vmImage: ubuntu-16.04
    allowFailure: false
    matrix:
      py3.7_numpy1.17:
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.17'
        USE_NUMBA_MASTER: 'True'
        SDC_CONFIG_PIPELINE_SDC: 'False'
