jobs:
- template: buildscripts/azure/template-windows.yml
  parameters:
    name: Windows_2016
    vmImage: vs2017-win2016
    matrix:
      vs2017_py3.7_numpy1.16_np0:
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.16'

      vs2017_py3.7_numpy1.16_np2:
        SDC_NP_MPI: '2'
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.16'

- template: buildscripts/azure/template-linux-macos.yml
  parameters:
    name: OSX_10_13
    vmImage: xcode9-macos10.13
    matrix:
      xcode9_py3.7_numpy1.16_np0:
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.16'

      xcode9_py3.7_numpy1.16_np2:
        SDC_NP_MPI: '2'
        PYTHON_VER: '3.7'
        NUMPY_VER: '1.16'
