jobs:
- job: Windows
  timeoutInMinutes: 0
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create -q -y -n CB python=3.7 conda-build conda-verify vc vs2015_runtime vs2015_win-64
    displayName: Create Anaconda environment

  - script: |
      call activate CB
      conda build --python 3.7 --override-channels -c numba -c conda-forge -c defaults -c intel --output-folder=. buildscripts/hpat-conda-recipe/
    displayName: conda build

- template: buildscripts/azure-template-linux-macos.yml
  parameters:
    name: macOS
    vmImage: xcode9-macos10.13
    matrix:
      py36_numpes0:
        CONDA_ENV: 'travisci'
        PYTHON_VER: '3.6'

      py36_numpes3:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '3'
        PYTHON_VER: '3.6'

      py37_numpes0:
        CONDA_ENV: 'travisci'
        PYTHON_VER: '3.7'
        
      py37_numpes1:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '1'
        PYTHON_VER: '3.7'

      py37_numpes2:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '2'
        PYTHON_VER: '3.7'

      py37_numpes3:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '3'
        PYTHON_VER: '3.7'

- template: buildscripts/azure-template-linux-macos.yml
  parameters:
    name: Linux
    vmImage: ubuntu-16.04
    matrix:
      py36_numpes0:
        CONDA_ENV: 'travisci'
        PYTHON_VER: '3.6'

      py36_numpes3:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '3'
        PYTHON_VER: '3.6'

      py37_numpes0:
        CONDA_ENV: 'travisci'
        PYTHON_VER: '3.7'
        
      py37_numpes1:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '1'
        PYTHON_VER: '3.7'

      py37_numpes2:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '2'
        PYTHON_VER: '3.7'

      py37_numpes3:
        CONDA_ENV: 'travisci'
        HPAT_NUM_PES: '3'
        PYTHON_VER: '3.7'
